.header
  .container
    %h1 Threadly

.main
  .container
    = form_for @new_post do |f|
      = f.text_field :comment, placeholder: "Share your thoughts"
      = f.submit "Post", class: "btn"
    %ul.comments
      - @all_posts.each do |p|
        #li 
          = link_to p.comment, p